// - カラーコードはここで管理する
// - カラーの名前に困ったら、↓で検索する
// https://chir.ag/projects/name-that-color
// - 同じ名前で微妙に違うカラーコードがあったら、xxx-primaryとかつけて逃げる or そもそもデザインのカラーコードを統一する

$white: #ffffff;
$red: #c7161e;
$redSecondary: #F70000;
$black: #000000;
$cinderella:#fce4d4;
$doublePearlLusta:#fcf4d4;
$codGray: #0a0a0a;
$mineShaft: #202020;
$concrete: #f3f3f3;
$mercury: #e3e3e3;
$secondaryConcrete: #f2f2f2;
$mercury:#e3e3e3;
$dustyGray: #999999;
$alto: #d8d8d8;
$silver: #bbbbbb;
$teak: #b09a68;
$goldenFizz: #ECF933;
$clearBlack: #00000029;
$ebony: #04040a;
$tundora: #464646;
$fernGreen: #458842;
$baliHai: #91a3b9;
$doveGray: #707070;
$ebb: #efecec;
$wildSand: #f6f6f6;
$clearDustyGray: #99999952;
$easternBlue: #1697c7;
$blueRibbon: #443dff;
$Iron: #d0d0d4;
$Alabaster: #f9f9f9;
$BermudaGray: #6c85a2;
$Gray: #888888;
$pastelPink:#ffd9e1;
